@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Jost&family=Lato&family=Merriweather&family=Montserrat&family=Noto+Sans&family=Poppins&family=Prompt&family=Roboto&family=Work+Sans&display=swap");
#firstSection .container-section #traitRouge, #fourthSection .container-trait .traitRouge, #sixthSection .container-trait #traitRouge {
  background: #ee6064;
  width: 4%;
  height: 3px;
  margin-top: 80px; }

#thirdSection .container-section .text-section h2, #fifthSection .container .container-text .inner-text h2, #sixthSection h2 {
  font-size: 4em;
  display: inline-block;
  margin-bottom: 0;
  color: #031043; }

#thirdSection .container-section .text-section .strategies button, #fifthSection .container .container-text .container-flex button {
  background: #2f4dfb;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 0.8em;
  font-family: "Poppins";
  cursor: pointer; }
  #thirdSection .container-section .text-section .strategies button:hover, #fifthSection .container .container-text .container-flex button:hover {
    background: #2141f8; }

* {
  font-family: "Jost", cursive; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw; }

a {
  text-decoration: none;
  color: white; }

header {
  height: 100vh;
  width: 100%;
  color: white;
  font-weight: 600;
  background: rgba(0, 0, 128, 0.2); }
  header video {
    z-index: -100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    height: 100vh;
    min-width: 100%;
    object-fit: cover; }

nav {
  padding: 40px 0px 20px 50px;
  width: auto; }
  nav .logo-container {
    float: left;
    width: 20%; }
  nav #logo {
    width: 50%; }
  nav .link-container {
    padding-left: 10px;
    display: flex;
    width: 79%;
    list-style: none; }
    nav .link-container li {
      padding-left: 2rem;
      float: right; }
    nav .link-container a {
      font-size: 1em;
      transition: 0.2s;
      position: relative; }
    nav .link-container .border-hover:hover::before {
      content: "";
      border-bottom: 3px solid white;
      top: 25px;
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      animation: opAnim 0.4s; }
@keyframes opAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    nav .link-container #checkup {
      border: none;
      font-size: 0.9em;
      background: #ee6064;
      color: white;
      padding: 10px 30px;
      font-weight: 600;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      transform: translateY(-10px); }
      nav .link-container #checkup:hover {
        filter: brightness(110%);
        transform: translateY(-5px); }
    nav .link-container .fa-chevron-down {
      font-size: 0.5em; }
    nav .link-container #phone {
      margin-right: 8px;
      color: #55bb55; }
  nav .fa-arrow-right {
    font-size: 0.7em; }

.nav-fixed {
  z-index: 100;
  position: fixed;
  background: white;
  transition: 0.5s;
  width: 100%; }
  .nav-fixed a {
    color: #031043; }

.header-container {
  padding-top: 20px;
  z-index: 1;
  text-align: center;
  width: 100%;
  transition: 0.5s; }
  .header-container .inner-header-container {
    width: 42%;
    margin: 0 auto; }
    .header-container .inner-header-container h1 {
      font-size: 3.7em;
      letter-spacing: 2px; }
    .header-container .inner-header-container #dot {
      color: #ee6064; }
    .header-container .inner-header-container h3 {
      font-size: 1.4em;
      font-weight: normal;
      margin-bottom: 30px; }
      .header-container .inner-header-container h3 span {
        border-bottom: 2.5px solid #ee6064;
        font-weight: 600; }
    .header-container .inner-header-container img {
      position: absolute;
      left: 30%;
      top: 53%; }
    .header-container .inner-header-container #company, .header-container .inner-header-container #checkup2 {
      border: none;
      border-radius: 6px;
      font-size: 1.1em;
      padding: 15px 0px;
      width: 70%;
      margin-bottom: 20px; }
    .header-container .inner-header-container #checkup2 {
      font-weight: bold;
      background: #ee6064;
      color: white;
      cursor: pointer;
      transition: 0.3s; }
      .header-container .inner-header-container #checkup2:hover {
        filter: brightness(110%);
        transform: translateY(-5px); }
    .header-container .inner-header-container h5 {
      margin-top: 40px;
      font-size: 1em;
      font-weight: normal;
      letter-spacing: 0.5px; }
  .header-container .partners-container img {
    margin-top: 10px;
    width: 45%; }

#firstSection {
  background: #fafafa;
  padding-bottom: 50px; }
  #firstSection .container-section {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #firstSection .container-section h2 {
      font-size: 3em;
      text-align: center;
      width: 50%;
      color: #031043;
      margin-bottom: 10px; }
    #firstSection .container-section p {
      width: 55%;
      text-align: center;
      font-size: 1.5em;
      color: #55626a; }
  #firstSection .swiper-container {
    padding-top: 80px;
    height: 400px;
    width: 72%; }
  #firstSection .swiper-slide {
    text-align: center;
    font-size: 18px; }
  #firstSection .swiper-slide .firstImage {
    height: 30%;
    display: block;
    margin: 0 auto; }
  #firstSection .swiper-slide h2 {
    display: inline-block;
    font-size: 3.5em;
    color: #031043;
    margin: 15px auto 0px; }
  #firstSection .swiper-slide .flecheImage {
    width: 36px; }
  #firstSection .swiper-slide p {
    margin: 0;
    font-size: 1.2em; }
  #firstSection .swiper-slide .lastImage {
    width: 140px;
    height: 16%; }
  #firstSection .swiper-slide:nth-child(1) .lastImage {
    width: 160px;
    height: 12%;
    margin-top: 10px; }
  #firstSection .swiper-slide:nth-child(4) .lastImage {
    width: 160px;
    height: 12%;
    margin-top: 10px; }
  #firstSection .swiper-slide:nth-child(5) .lastImage {
    width: 160px;
    height: 12%;
    margin-top: 10px; }

.container-second-section {
  height: 1500px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; }
  .container-second-section img {
    width: 6%; }
  .container-second-section h2 {
    font-size: 2.5em;
    color: #031043;
    letter-spacing: 2px;
    margin-bottom: 100px; }
    .container-second-section h2 #line-agency {
      text-decoration: line-through;
      color: #f15f61; }
      .container-second-section h2 #line-agency #agency {
        color: #c3c3c3; }
  .container-second-section .container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%; }
    .container-second-section .container-flex .element {
      width: 30%;
      margin-bottom: 100px;
      border: 1px solid #ececec;
      border-top: none;
      border-radius: 0 0 6px 6px;
      text-align: center; }
      .container-second-section .container-flex .element img {
        width: 100%; }
      .container-second-section .container-flex .element .element-text {
        padding: 20px 40px; }
        .container-second-section .container-flex .element .element-text h4 {
          font-size: 1.4em;
          margin-bottom: 8px; }
        .container-second-section .container-flex .element .element-text p {
          margin-top: 0;
          line-height: 2em;
          font-family: "Montserrat";
          font-size: 0.9em; }
      .container-second-section .container-flex .element a {
        color: #ee6064; }
        .container-second-section .container-flex .element a:hover {
          text-decoration: underline;
          filter: brightness(85%); }

#thirdSection {
  background: #fafafa;
  height: 800px; }
  #thirdSection .container-section {
    width: 75%;
    margin: 0 auto;
    display: flex; }
    #thirdSection .container-section .container-flex {
      display: flex;
      align-items: center; }
    #thirdSection .container-section .text-section {
      width: 95%; }
      #thirdSection .container-section .text-section img {
        margin-left: 1%; }
      #thirdSection .container-section .text-section p {
        margin-top: 0;
        font-size: 1.3em;
        opacity: 0.9; }
      #thirdSection .container-section .text-section h3 {
        font-weight: normal;
        font-size: 1.8em;
        width: 80%;
        color: #031043; }
      #thirdSection .container-section .text-section .strategies p {
        display: inline-block;
        font-family: "Poppins";
        font-size: 1em;
        margin-top: 15px; }
    #thirdSection .container-section .image-section {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #thirdSection .container-section .image-section img {
        height: 70%; }

#fourthSection .container-trait {
  display: flex;
  justify-content: center; }
#fourthSection h2 {
  text-align: center;
  font-size: 3em; }
#fourthSection .container-flex {
  display: flex;
  width: 80%;
  margin: 100px auto; }
  #fourthSection .container-flex .element-flex {
    width: 20%;
    margin: 0 auto; }
    #fourthSection .container-flex .element-flex i {
      font-size: 3.5em;
      color: #ee6064; }
    #fourthSection .container-flex .element-flex h4 {
      font-size: 1.2em;
      letter-spacing: 1px;
      margin-bottom: 0; }
    #fourthSection .container-flex .element-flex p {
      margin-top: 10px;
      font-size: 1em;
      line-height: 1.8em; }
#fourthSection h3 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 50px; }
#fourthSection .flex-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  #fourthSection .flex-container .flex-element {
    display: flex;
    width: 45%; }
    #fourthSection .flex-container .flex-element p {
      font-size: 1.3em;
      margin-left: 10px; }
#fourthSection .container-button {
  margin: 80px 0;
  display: flex;
  justify-content: center; }
  #fourthSection .container-button button {
    background: #ee6064;
    color: white;
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold; }
    #fourthSection .container-button button i {
      font-size: 0.6em;
      padding-left: 5px; }

.footer-grid {
  background: #031043;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  height: 400px; }
  .footer-grid .footer-column {
    width: 18%; }
    .footer-grid .footer-column img {
      transform: scale(0.5);
      position: relative;
      right: 75px;
      top: 50px; }
    .footer-grid .footer-column #firsth6 {
      margin-bottom: 70%; }
    .footer-grid .footer-column h6 {
      font-size: 1em;
      margin-bottom: 10px; }
      .footer-grid .footer-column h6 span {
        color: #ee6064; }
    .footer-grid .footer-column p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 0.9em; }
    .footer-grid .footer-column #lasth6 {
      margin-top: 0;
      margin-bottom: 20px; }
    .footer-grid .footer-column input {
      border-radius: 7px;
      padding: 5px 20px;
      font-size: 1.2em;
      margin-bottom: 20px; }
    .footer-grid .footer-column button {
      border-radius: 7px;
      background: #ee6064;
      color: white;
      padding: 10px 88px;
      font-size: 1em; }
    .footer-grid .footer-column:nth-last-child(-n + 1) {
      margin-left: 50px; }

#fifthSection {
  height: 780px;
  background: #fafafa;
  padding-bottom: 50px;
  display: flex; }
  #fifthSection .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    #fifthSection .container .container-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%; }
      #fifthSection .container .container-image img {
        width: 65%; }
    #fifthSection .container .container-text {
      width: 43%; }
      #fifthSection .container .container-text .inner-text {
        width: 80%; }
        #fifthSection .container .container-text .inner-text img {
          margin-left: 5px;
          width: 7%; }
        #fifthSection .container .container-text .inner-text p {
          margin: 0;
          color: #031043;
          font-size: 1.2em; }
        #fifthSection .container .container-text .inner-text h3 {
          font-weight: normal;
          color: #031043;
          font-size: 1.8em; }
        #fifthSection .container .container-text .inner-text #decorative {
          width: 35%; }
      #fifthSection .container .container-text .container-flex {
        display: flex; }
        #fifthSection .container .container-text .container-flex button {
          margin-left: 5px;
          margin-top: 10px;
          height: 30px;
          cursor: pointer; }

#sixthSection {
  height: 1200px;
  width: 100%; }
  #sixthSection .container-trait {
    height: 50px;
    display: flex;
    justify-content: center; }
  #sixthSection h2 {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin: 60px 0 100px; }
  #sixthSection .container-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%; }
  #sixthSection .container-color .color {
    height: 100px;
    width: 350px;
    background: #000;
    margin-top: 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #sixthSection .container-color .color p {
      margin: 0; }
    #sixthSection .container-color .color h3 {
      font-size: 2.5em;
      margin: 0; }
  #sixthSection .container-color #color1 {
    background: #2ec297; }
  #sixthSection .container-color #color2 {
    background: #2f4dfb; }
  #sixthSection .container-color #color3 {
    background: #f15f61; }
  #sixthSection .container-color #color4 {
    background: #031043; }
  #sixthSection #partners {
    margin: 100px auto;
    width: 50%;
    display: flex;
    justify-content: center; }

#lastSection {
  height: 700px;
  background: #ee6064;
  display: flex;
  align-items: center; }
  #lastSection .container-section {
    margin-left: 6%;
    display: flex;
    justify-content: center; }
    #lastSection .container-section .container-image {
      width: 40%; }
      #lastSection .container-section .container-image img {
        width: 80%; }
    #lastSection .container-section .container-text {
      width: 40%; }
      #lastSection .container-section .container-text h3 {
        width: 70%;
        color: white;
        font-size: 2.5em; }
      #lastSection .container-section .container-text p {
        width: 70%;
        font-size: 1.3em;
        color: white; }
      #lastSection .container-section .container-text button {
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 10px 40px;
        font-size: 1.2em;
        cursor: pointer;
        transition: 0.4s;
        font-weight: bold;
        color: #020a2b; }
        #lastSection .container-section .container-text button:hover {
          background: #101010;
          color: white;
          transform: translateY(-5px); }
        #lastSection .container-section .container-text button i {
          font-size: 0.7em; }

.privacy-medias {
  background: #020a2b;
  text-align: center;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .privacy-medias .privacy a {
    color: #777;
    padding-right: 10px;
    text-decoration: underline; }
  .privacy-medias .medias {
    font-size: 1.5em;
    color: #777; }
    .privacy-medias .medias i {
      padding-left: 40px;
      cursor: pointer;
      transition: 0.2s; }
      .privacy-medias .medias i:hover {
        color: white; }

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #020a2b; }
  .copyright p {
    margin: 0;
    color: #777; }

/*# sourceMappingURL=style.css.map */
