@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Jost&family=Lato&family=Merriweather&family=Montserrat&family=Noto+Sans&family=Poppins&family=Prompt&family=Roboto&family=Work+Sans&display=swap");
// font-family: 'Hind Siliguri', sans-serif;
// font-family: 'Jost', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Prompt', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Work Sans', sans-serif;
