%traitRouge {
  background: #ee6064;
  width: 4%;
  height: 3px;
  margin-top: 80px;
}
%h2bleu {
  font-size: 4em;
  display: inline-block;
  margin-bottom: 0;
  color: #031043;
}
%boutonViolet {
  background: #2f4dfb;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 0.8em;
  font-family: "Poppins";
  cursor: pointer;
  &:hover {
    background: #2141f8;
  }
}
