@import "./fonts";
@import "./mixins";
@import "./placeholders";
@import "./variables";

* {
  font-family: "Jost", cursive;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}
a {
  text-decoration: none;
  color: white;
}
header {
  height: 100vh;
  width: 100%;
  color: white;
  font-weight: 600;
  background: rgba(0, 0, 128, 0.2);
  video {
    z-index: -100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    height: 100vh;
    min-width: 100%;
    object-fit: cover;
  }
}
nav {
  padding: 40px 0px 20px 50px;
  width: auto;
  .logo-container {
    float: left;
    width: 20%;
  }
  #logo {
    width: 50%;
  }
  .link-container {
    padding-left: 10px;
    display: flex;
    width: 79%;
    list-style: none;
    li {
      padding-left: 2rem;
      float: right;
    }
    a {
      font-size: 1em;
      transition: 0.2s;
      position: relative;
    }
    .border-hover {
      &:hover {
        &::before {
          content: "";
          border-bottom: 3px solid white;
          top: 25px;
          position: absolute;
          width: 100%;
          left: 0;
          height: 1px;
          animation: opAnim 0.4s;
        }
      }
      @keyframes opAnim {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    #checkup {
      border: none;
      font-size: 0.9em;
      background: #ee6064;
      color: white;
      padding: 10px 30px;
      font-weight: 600;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      transform: translateY(-10px);
      &:hover {
        filter: brightness(110%);
        transform: translateY(-5px);
      }
    }
    .fa-chevron-down {
      font-size: 0.5em;
    }
    #phone {
      margin-right: 8px;
      color: #55bb55;
    }
  }
  .fa-arrow-right {
    font-size: 0.7em;
  }
}
.nav-fixed {
  z-index: 100;
  position: fixed;
  background: white;
  transition: 0.5s;
  width: 100%;
  a {
    color: #031043;
  }
}
.header-container {
  padding-top: 20px;
  z-index: 1;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  .inner-header-container {
    width: 42%;
    margin: 0 auto;
    h1 {
      font-size: 3.7em;
      letter-spacing: 2px;
    }
    #dot {
      color: #ee6064;
    }
    h3 {
      font-size: 1.4em;
      font-weight: normal;
      margin-bottom: 30px;
      span {
        border-bottom: 2.5px solid #ee6064;
        font-weight: 600;
      }
    }
    img {
      position: absolute;
      left: 30%;
      top: 53%;
    }
    #company {
      border: none;
      border-radius: 6px;
      font-size: 1.1em;
      padding: 15px 0px;
      width: 70%;
      margin-bottom: 20px;
    }
    #checkup2 {
      font-weight: bold;
      @extend #company;
      background: #ee6064;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        filter: brightness(110%);
        transform: translateY(-5px);
      }
    }
    h5 {
      margin-top: 40px;
      font-size: 1em;
      font-weight: normal;
      letter-spacing: 0.5px;
    }
  }
  .partners-container {
    img {
      margin-top: 10px;
      width: 45%;
    }
  }
}
#firstSection {
  background: #fafafa;
  .container-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    #traitRouge {
      @extend %traitRouge;
    }
    h2 {
      font-size: 3em;
      text-align: center;
      width: 50%;
      color: #031043;
      margin-bottom: 10px;
    }
    p {
      width: 55%;
      text-align: center;
      font-size: 1.5em;
      color: #55626a;
    }
  }
  .swiper-container {
    padding-top: 80px;
    height: 400px;
    width: 72%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  }
  .swiper-slide {
    .firstImage {
      height: 30%;
      display: block;
      margin: 0 auto;
    }
    h2 {
      display: inline-block;
      font-size: 3.5em;
      color: #031043;
      margin: 15px auto 0px;
    }
    .flecheImage {
      width: 36px;
    }
    p {
      margin: 0;
      font-size: 1.2em;
    }
    .lastImage {
      width: 140px;
      height: 16%;
    }
    &:nth-child(1) .lastImage {
      width: 160px;
      height: 12%;
      margin-top: 10px;
    }
    &:nth-child(4) .lastImage {
      width: 160px;
      height: 12%;
      margin-top: 10px;
    }
    &:nth-child(5) .lastImage {
      width: 160px;
      height: 12%;
      margin-top: 10px;
    }
  }
  padding-bottom: 50px;
}
.container-second-section {
  height: 1500px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  img {
    width: 6%;
  }
  h2 {
    font-size: 2.5em;
    color: #031043;
    letter-spacing: 2px;
    margin-bottom: 100px;
    #line-agency {
      text-decoration: line-through;
      color: #f15f61;
      #agency {
        color: #c3c3c3;
      }
    }
  }
  .container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    .element {
      width: 30%;
      margin-bottom: 100px;
      border: 1px solid #ececec;
      border-top: none;
      border-radius: 0 0 6px 6px;
      text-align: center;
      img {
        width: 100%;
      }
      .element-text {
        padding: 20px 40px;
        h4 {
          font-size: 1.4em;
          margin-bottom: 8px;
        }
        p {
          margin-top: 0;
          line-height: 2em;
          font-family: "Montserrat";
          font-size: 0.9em;
        }
      }
      a {
        color: #ee6064;
        &:hover {
          text-decoration: underline;
          filter: brightness(85%);
        }
      }
    }
  }
}
#thirdSection {
  background: #fafafa;
  height: 800px;
  .container-section {
    width: 75%;
    margin: 0 auto;
    display: flex;
    .container-flex {
      display: flex;
      align-items: center;
    }
    .text-section {
      width: 95%;
      h2 {
        @extend %h2bleu;
      }
      img {
        margin-left: 1%;
      }
      p {
        margin-top: 0;
        font-size: 1.3em;
        opacity: 0.9;
      }
      h3 {
        font-weight: normal;
        font-size: 1.8em;
        width: 80%;
        color: #031043;
      }
      .strategies {
        p {
          display: inline-block;
          font-family: "Poppins";
          font-size: 1em;
          margin-top: 15px;
        }
        button {
          @extend %boutonViolet;
        }
      }
    }
    .image-section {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 70%;
      }
    }
  }
}
#fourthSection {
  .container-trait {
    display: flex;
    justify-content: center;
    .traitRouge {
      @extend %traitRouge;
    }
  }
  h2 {
    text-align: center;
    font-size: 3em;
  }
  .container-flex {
    display: flex;
    width: 80%;
    margin: 100px auto;
    .element-flex {
      width: 20%;
      margin: 0 auto;
      i {
        font-size: 3.5em;
        color: #ee6064;
      }
      h4 {
        font-size: 1.2em;
        letter-spacing: 1px;
        margin-bottom: 0;
      }
      p {
        margin-top: 10px;
        font-size: 1em;
        line-height: 1.8em;
      }
    }
  }
  h3 {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 50px;
  }
  .flex-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .flex-element {
      display: flex;
      width: 45%;
      p {
        font-size: 1.3em;
        margin-left: 10px;
      }
    }
  }
  .container-button {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    button {
      background: #ee6064;
      color: white;
      padding: 10px 50px;
      border: none;
      outline: none;
      border-radius: 4px;
      font-size: 1.2em;
      font-weight: bold;
      i {
        font-size: 0.6em;
        padding-left: 5px;
      }
    }
  }
}
.footer-grid {
  background: #031043;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  height: 400px;
  .footer-column {
    width: 18%;
    img {
      transform: scale(0.5);
      position: relative;
      right: 75px;
      top: 50px;
    }
    #firsth6 {
      margin-bottom: 70%;
    }
    h6 {
      font-size: 1em;
      margin-bottom: 10px;
      span {
        color: #ee6064;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 0.9em;
    }
    #lasth6 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    input {
      border-radius: 7px;
      padding: 5px 20px;
      font-size: 1.2em;
      margin-bottom: 20px;
    }
    button {
      border-radius: 7px;
      background: #ee6064;
      color: white;
      padding: 10px 88px;
      font-size: 1em;
    }
    &:nth-last-child(-n + 1) {
      margin-left: 50px;
    }
  }
}
#fifthSection {
  height: 780px;
  background: #fafafa;
  padding-bottom: 50px;
  display: flex;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      img {
        width: 65%;
      }
    }
    .container-text {
      width: 43%;
      .inner-text {
        width: 80%;
        h2 {
          @extend %h2bleu;
        }
        img {
          margin-left: 5px;
          width: 7%;
        }
        p {
          margin: 0;
          color: #031043;
          font-size: 1.2em;
        }
        h3 {
          font-weight: normal;
          color: #031043;
          font-size: 1.8em;
        }
        #decorative {
          width: 35%;
        }
      }
      .container-flex {
        display: flex;
        button {
          @extend %boutonViolet;
          margin-left: 5px;
          margin-top: 10px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
#sixthSection {
  height: 1200px;
  width: 100%;
  .container-trait {
    height: 50px;
    display: flex;
    justify-content: center;
    #traitRouge {
      @extend %traitRouge;
    }
  }
  h2 {
    @extend %h2bleu;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin: 60px 0 100px;
  }
  .container-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  .container-color {
    .color {
      height: 100px;
      width: 350px;
      background: #000;
      margin-top: 50px;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        margin: 0;
      }
      h3 {
        font-size: 2.5em;
        margin: 0;
      }
    }
    #color1 {
      background: #2ec297;
    }
    #color2 {
      background: #2f4dfb;
    }
    #color3 {
      background: #f15f61;
    }
    #color4 {
      background: #031043;
    }
  }
  #partners {
    margin: 100px auto;
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
#lastSection {
  height: 700px;
  background: #ee6064;
  display: flex;
  align-items: center;
  .container-section {
    margin-left: 6%;
    display: flex;
    justify-content: center;
    .container-image {
      width: 40%;
      img {
        width: 80%;
      }
    }
    .container-text {
      width: 40%;
      h3 {
        width: 70%;
        color: white;
        font-size: 2.5em;
      }
      p {
        width: 70%;
        font-size: 1.3em;
        color: white;
      }
      button {
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 10px 40px;
        font-size: 1.2em;
        cursor: pointer;
        transition: 0.4s;
        font-weight: bold;
        color: #020a2b;
        &:hover {
          background: #101010;
          color: white;
          transform: translateY(-5px);
        }
        i {
          font-size: 0.7em;
        }
      }
    }
  }
}
.privacy-medias {
  background: #020a2b;
  text-align: center;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .privacy {
    a {
      color: #777;
      padding-right: 10px;
      text-decoration: underline;
    }
  }
  .medias {
    font-size: 1.5em;
    color: #777;
    i {
      padding-left: 40px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: white;
      }
    }
  }
}
.copyright {
  p {
    margin: 0;
    color: #777;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #020a2b;
}
